elpa/*
url/*
.cask/*
auto-save-list/*
tramp-autosave/*
.DS_Store
.saveplace
local.el
*.elc
smex.*
bookmarks
.bookmarks
.emacs-desktop
.emacs.desktop.lock
anything-c-adaptive-history
.emacs.desktop
.mc-lists.el
tramp
var/*
.ac-comphist.dat
.cask/
.edbi-ds-history
.projectile
.projectile-bookmarks.eld
.projectile.cache
.smex.save
.cache/
history
projectile-bookmarks.eld
transient/
