elpa/*
url/*
auto-save-list/*
tramp-autosave/*
.DS_Store
mattsears/local.el
vendor/freshbooks
*.elc
smex.*
bookmarks
.bookmarks
.emacs-desktop
.emacs.desktop.lock
anything-c-adaptive-history
.emacs.desktop
.mc-lists.el
tramp
