[submodule "vendor/smex"]
	path = vendor/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = git://github.com/jwiegley/magit.git
[submodule "vendor/clojure-mode"]
	path = vendor/clojure-mode
	url = git://github.com/jochu/clojure-mode.git
[submodule "vendor/swank-clojure"]
	path = vendor/swank-clojure
	url = git://github.com/jochu/swank-clojure.git
[submodule "vendor/slime"]
	path = vendor/slime
	url = git://github.com/nablaone/slime.git
[submodule "vendor/yasnippets-shoulda"]
	path = vendor/yasnippets-shoulda
	url = git://github.com/rwc9u/yasnippets-shoulda.git
[submodule "vendor/shoulda-mode"]
	path = vendor/shoulda-mode
	url = git://github.com/pezra/shoulda-mode.git
[submodule "vendor/cucumber"]
	path = vendor/cucumber
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "vendor/rvm.el"]
	path = vendor/rvm.el
	url = git://github.com/senny/rvm.el.git
[submodule "vendor/open-file-in-github"]
	path = vendor/open-file-in-github
	url = git://gist.github.com/170861.git
[submodule "vendor/simplenote"]
	path = vendor/simplenote
	url = http://github.com/cefstat/simplenote.el.git
[submodule "vendor/smart-tab"]
	path = vendor/smart-tab
	url = https://github.com/genehack/smart-tab.git
[submodule "rspec-mode"]
	path = rspec-mode
	url = git://github.com/anildigital/rspec-mode.git
[submodule "vendor/rspec-mode"]
	path = vendor/rspec-mode
	url = git://github.com/anildigital/rspec-mode.git
